body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #020202;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin-bottom: 1em;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

/* button,
input {
  appearance: none;
} */

/* @media screen and (min-width: 800px) {
  body {
    font-size: 16px;
  }
} */
